.progress{
    margin-bottom: 180px;
    &__subtitle{
        font-size: 16px;
        line-height: 150%;
        font-family: Lato-bold;
        color: $color-text;
        margin-bottom: 8px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__title{
        font-size: 46px;
        line-height: 130%;
        font-family: Lato-black;
        color: $color-text;
        margin-bottom: 60px;
    }
}

.progress-container{
    display: flex;
    justify-content: space-between;
    
}

.progress-container-left{
    border-left: 1px solid $color-subtitle;
    height: 536px;
    padding-left: 40px;
    &__card{

    }
    &__subtitle{
        font-size: 12px;
        line-height: 150%;
        font-family: Lato-black;
        color: $color-subtitle;
        align-items: center;
        margin-bottom: 2px;
        position: relative;
    }
    &__title{
        font-size: 20px;
        line-height: 150%;
        font-family: Lato-bold;
        color: $color-text;
        align-items: center;
        margin-bottom: 8px;
    }
    &__text{
        font-size: 16px;
        line-height: 160%;
        font-family: Lato-regular;
        color: $color-subtitle;
        margin-bottom: 32px;
        max-width: 446px;
    }
    &__subtitle::after{
        position: absolute;
        content: "";
        background: url(../../img/about-us/progress-eclipse.png);
        width: 16px;
        height: 16px;
        left: -48px;
    
    }
}

